<div class="flex gap">
  <%= jump_field_tag %>

  <button class="nav__close btn borderless txt-small" data-action="dialog#close">
    <%= icon_tag "close" %>
    <span class="for-screen-reader">Close menu</span>
  </button>
</div>
